beautifulsoup4==4.12.2
Django==4.2.6
django-bootstrap-v5==1.0.11
Pillow==10.1.0
soupsieve==2.5
sqlparse==0.4.4

cryptography==41.0.4
django-cors-headers==4.3.0
django-filter==23.3
djangorestframework==3.14.0
gunicorn==21.2.0
Markdown==3.5
packaging==23.2
pycparser==2.21
PyMySQL==1.1.0
pytz==2023.3.post1
sqlparse==0.4.4
typing_extensions==4.8.0